.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
}

.about {
    width: 100%;
    /* height: calc(100vh - 300px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f0f0f0;
    flex: 2;
}

.about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #e9d35b;
    height: 50px;
}

.about .prompt {
    width: 72%;
    font-size: 30px;
}

.cv-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.download-button {
    text-decoration: none;
    color: white;
}

.download-cv svg {
    font-size: 30px !important;
}

.download-cv svg:hover {
    color: #3e497a;
}

.download-cv {
    border: 2px solid white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px 0 5px;
}

.download-cv:hover {
    color: #3e497a !important;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.download-cv:active {
    box-shadow: none;
    transform: translateY(0);
}

.download-cv-word {
    font-size: 20px;
    margin: 15px 0 15px 5px;
}

.svg-icons svg {
    font-size: 50px;
    margin: 5px;
    color: white;
}

.skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 90px;
}

.skills h1 {
    color: #3e497a;
}

.skills .list {
    list-style: none;
    width: 85%;
    margin-top: -50px;
}

.list span {
    font-size: 25px;
}

.about-split {
    display: flex;
    background-color: #21325e;
    align-items: center;
    justify-self: center;
    padding: 0 0 80px 0;
    margin-top: 0px;
}

.image {
    margin-right: 4rem;
    flex: 1;
}

.image-size {
    padding-top: 65px;
    max-width: 300px;
    object-fit: cover;
}

@media only screen and (max-width: 1000px) {
    .about h2 {
        font-size: 50px;
        margin-top: 80px;
    }

    .about .prompt {
        font-size: 25px;
        width: 85%;
        margin-top: -20px;
    }

    .hidden-mobile {
        display: none;
    }

    .image {
        margin-right: 1rem;
    }

    .image-size {
        width: 240px;
    }
}

@media only screen and (max-width: 600px) {
    .about h2 {
        font-size: 40px;
        margin-top: 50px;
    }

    .about .prompt {
        margin-top: -20px;
        font-size: 20px;
        width: 81%;
    }

    .cv-icons {
        justify-content: space-between;
    }

    .skills {
        text-align: center;
    }

    .list {
        padding: 30px;
    }

    .skills {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .about-split {
        display: block;
        padding-bottom: 60px;
    }

    .image {
        margin-top: -30px;
        margin-right: 0;
    }

    .image-size {
        width: 315px;
    }

    .skills .list {
        width: 98%;
    }

    .list span {
        font-size: 20px;
    }
}

