.project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 150px;
}

.project h1 {
    margin-top: 50px;
    color: #3e497a;
    font-size: 35px;
}

.repo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: 2px solid #3e497a;
    color: #3e497a;
    border-radius: 10px;
}

.repo:hover {
    color: #fff;
    background-color: #3e497a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.repo:active {
    box-shadow: none;
    transform: translateY(0);
}

.repo h2 {
    font-size: 25px;
    padding-left: 10px;
}

.project img {
    width: 480px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.project-skills {
    font-size: 25px;
    color: #3e497a;
    margin-top: 0px;
}

.project p {
    font-size: 25px;
    width: 60%;
}

.project svg {
    font-size: 35px;
}

@media only screen and (max-width: 1000px) {
    .project p {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    /* .project {
        padding-bottom: 0;
    } */

    .project img {
        width: 368px;
        height: 230px;
    }

    .project-skills {
        padding: 0px;
        font-size: 20px;
        color: #3e497a;
    }

    .project svg {
        font-size: 25px;
    }

    .repo {
        padding: 0 15px;
    }

    .repo h2 {
        font-size: 20px;
        padding-left: 10px;
    }

    .project p {
        font-size: 20px;
        width: 98%;
    }
}